NODE_ENV=development
PORT=5000


DATABASE_URL=your_database_url_here

ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
ACCESS_TOKEN_EXPIRES_IN=your_access_token_expiration_time_here
REFRESH_TOKEN_EXPIRES_IN=your_refresh_token_expiration_time_here

EMAIL_SENDER_SMTP_USER=your_email_smtp_user_here
EMAIL_SENDER_SMTP_PASS=your_email_smtp_pass_here
EMAIL_SENDER_SMTP_HOST=your_email_smtp_host_here
EMAIL_SENDER_SMTP_PORT=your_email_smtp_port_here
EMAIL_SENDER_SMTP_FROM=your_email_smtp_from_here

STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
SUPER_ADMIN_EMAIL=your_super_admin_email_here
SUPER_ADMIN_PASSWORD=your_super_admin_password_here

FRONTEND_URL=your_frontend_url_here

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here